.GroupButton {
  background-color: var(--main-color); /* 빨간색 테두리 */
  padding: 8px; /* 안쪽 여백 */
  border-radius: 5px; /* 둥근 테두리 */
  transition: all 0.3s; /* 모든 속성에 대한 0.3초 동안의 전환 효과 */
  color: #fff; /* 글자색 흰색으로 변경 */
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.GroupButton:hover {
  background-color: var(--main-hover-color); /* 배경색 빨간색으로 변경 */
}
