.SearchInputContainer {
  display: flex;
}

.searchInput {
  width: 176px;
  margin: 0 auto;
  height: 20px;
  padding: 15px;
  border: var(--main-color) 1px solid;
  border-radius: 3px;
  font-size: var(--text-xs);
}
