.GroupUserCardContainer {
  border-bottom: 1px solid var(--main-color);
}
.GroupUserCardButton {
  background-color: var(--main-color);
  font-size: var(--text-sm);
  color: white;
}
.GroupUserCardButton:hover {
  background-color: var(--main-hover-color);
}
