.postingModal {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 200px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--main-color);

  z-index: 999;
  gap: 5px;
}

.photo {
  position: relative;
  width: 100%;
  height: 50%;
}

.photo img {
  width: 100%;
  height: 170px;
}

.photo .likeBtn {
  position: absolute;
  top: 5%;
  left: 85%;
  border: none;
  background-color: transparent;
  z-index: 999;
}

.like {
  width: 25px;
  height: 25px;
  fill: var(--disable-color);
}

.activeLike {
  fill: red;
}

.PostingInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-size: var(--text-xs);
}

.PostingInfo .top,
.bottom {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 5px;
}

.PostingInfo .top .title {
  font-size: var(--text-base);
}

.PostingInfo .bottom {
  font-size: var(--text-sm);
}

.field {
  width: 90%;
  height: 50px;
  overflow-y: auto;
  font-size: var(--text-xs);
}
