.groupTap {
  display: flex;
  width: 260px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 0px;
  height: 100vh;
  overflow-y: scroll;
  z-index: 1;
}
.groupTapItem {
  border-color: var(--main-color);
  font-size: var(--text-sm);
  width: 80%;
}
.groupDetailTap {
  opacity: 0;
  height: calc(100vh - 40px);
  top: 40px;
  left: 320px;
  background: white;
  width: 260px;
  z-index: 0;
  border-right: var(--border-color) 1px solid;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}
@keyframes slideIn {
  from {
    transform: translateX(-260px);
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-260px);

    display: none;
  }
}

.close {
  opacity: 0;
  animation: slideOut 1s ease both;
}

.open {
  animation: slideIn 1s ease both;
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 100px);
  }
  50% {
    transform: translate(200px, 0);
  }
  75% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
