.rankSelectContainer {
  width: 260px;
  text-align: center;
}

.rankSelect {
  width: 90%;
  height: 30px;
  padding: 5px;
  border: var(--main-color) 1px solid;
  border-radius: 3px;
  font-size: var(--text-sm);
}
