.favTap {
  display: flex;
  box-sizing: content-box;
  width: 260px;
  height: 90%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 0px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
