.MarkerpostingModal {
  position: absolute;
  top: 10%;
  left: 342px;
  width: 200px;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--main-color);

  z-index: 999;
  gap: 5px;
  padding: 10px;
}
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  max-height: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--text-base);
  text-align: center;
  padding: 10px;
  color: var(--main-color);
}

.inputLabel {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--main-color);
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.textAreaField {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  font-size: var(--text-xs);
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-bottom: 5px;
}

.saveButton {
  width: 60%;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.groupTapItem {
  border-color: var(--main-color);
  font-size: var(--text-sm);
  width: 80%;
}

.photo {
  position: relative;
  width: 100%;
  height: 50%;
}

.photoimg {
  width: 100%;
  height: 170px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.checkboxActive {
  cursor: pointer;
  color: green;
}
