.GroupInputContainer {
  border: 1px solid var(--main-color);
  font-size: var(--text-sm);
}
.GroupInputButton {
  background-color: var(--main-color);
  color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.GroupInputButton:hover {
  background-color: var(--main-hover-color);
}
